
.container {
  display: grid;
  grid-template-columns: 20rem 1fr;
  grid-column-gap: 20px;
  padding: 20px;
  height: 100vh;
}



.channels {
  text-align: left;
}

.channel {
  background-color: skyblue;
  padding: 5px 10px;
  margin-bottom: 10px;
  outline: none;
  border: 2px solid blue;
  border-radius: 10px;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.msgs {
  text-align: left;
}

.msgs-container {
  height: calc(100vh - 145px);
  overflow: scroll;
}

.message {
  border: 2px solid blue;
  border-radius: 10px;
  /* width: 100%; */
  text-align: left;
  padding: 10px;
  margin-bottom: 10px;
}

.message p {
  margin: 0;
}

textarea {
  width: 20rem;
  height: auto;
  /* height: 10rem; */
}